# --- CodeIgniter 4 Ignored ---
backend/vendor/
backend/writable/
backend/.env
backend/public/uploads/
backend/build/
backend/tests/

# --- Flutter Ignored ---
mobile/build/
mobile/.dart_tool/
mobile/.idea/
mobile/*.iml
mobile/.vscode/
mobile/android/.gradle
mobile/ios/.symlinks
mobile/ios/Pods/

# --- System ---
.DS_Store
Thumbs.db